html
   head
   body
      h3 Mount Athos:
      img(src = "https://www.greecetravel.com/thessaloniki/ouranoupolis-greece.jpg", alt = "Testing Image" ,width="200" ,height="200")
      br
      script(src=
      "/js/home.bundle.js")

      button(type = "button", onclick = " ") Time in Athos 
